/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.cache/
.devcontainer.json
.gem/
.gitconfig
.gnupg/
.ssh/
.vscode-server/
Gemfile.lock
compose.override.yml
compose.yml

*.gem
